.pFav{
   color: black;
   background-color: white;
   padding: 25px;
   width: 250px;
   height: 360px;
}

.backTHBtn{
    background-color: rgba(100, 230, 201);
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: large;
    color: white;
}

.selBtn{
   margin:25px;
   border: none;
   background-color: rgba(100,230,201,0.8);
   color: white;
   padding: 10px;
   border-radius: 8px;
}
