.divNav{
   display: flex;
   justify-content: space-evenly;
   padding-top: 25px;
}

.divLink{
   background-color: palevioletred;
   width: fit-content;
   padding:10px;
   border-radius:10px;
}
.link{
   padding: 10px 10px;
   text-decoration: none;
   color: white;
}

.btnLogout{
   border: none;
   background: none;
   font-size: medium;
   color: darkgreen;
   padding-left: 50px;
}
