.divCard{
	display: flex;
	flex-direction: column;
	width: fit-content;
	background: white;
	border-radius: 5px;
	margin-bottom: 25px;
}

.divCard:hover{
	background: palevioletred;
}

.divCard:hover .divGenderSpecies{
	color: #def6ca;
}

.divBtn{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.divBtnX {
	margin: 5px;
	background: red;
	color: white;
	padding: 0 8px 0 8px;
	border-radius: 6px;
	border: none;
	font-weight: 900;
}

.divNameImage{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.divNameImage h2{
	position: absolute;
	z-index:1;
	color:white;
	padding: 5px;
	font-size: smaller;
	background-color:rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	margin-left: 5px;
}

.divNameImage img{
	position: relative;
} 
.divGenderSpecies{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.favBtn{
	width: fit-content;
	border: none;
	background: none;
	display: flex;
	font-size: x-large;
	margin: 5px 0 5px 5px;
}
