.btnSearch{
	color: white;
	background: none;
	border: none;	
	margin: 0 10px 0 10px;
	font-family: inherit;
	font-size: medium;
}

.divBtn{
	padding: 10px;
	background-color: palevioletred;
	border-radius: 7px;
	width: fit-content;
	display: flex;
	align-items: center;
}

.barSearch{
	padding: 0;
	background-color: aliceblue;
	border-style: solid;
	border-color: aliceblue;
	border-radius: 10px;
}
