.btnSearch{
	color: white;
	background-color: green;
	font-weight: bold;
	border: none;	
	margin: 0 10px 0 10px;
}

.divBtn{
	padding: 10px;
	background-color: rgba(100, 230, 201, 0.8);
	border-radius: 7px;
	width: fit-content;
	display: flex;
	align-items: center;
}
