.divDetail{
   display: flex;
   flex-direction: column;
}

.divTxtImg{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   background-color: palevioletred;
   border-radius: 25px;
   padding: 50px;
   margin: 20px 10px 20px 10px;
}

.textDetail{

}

.imgDetail{
   border-radius: 25px;
}

.btnDetail{
    background-color: rgba(100, 230, 201);
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: large;
    color: white;
    margin: auto;
}
